import styles from "./styles.module.scss"; import
{{pascalCase name}}Props from "./interface"; export default function
{{pascalCase name}}({ variant }:
{{pascalCase name}}Props) { return (
<div className="{styles.anyclass}">
  content here!
</div>
); }